# SO / editor
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.bak

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node / Web
node_modules/
dist/
build/
.cache/

# Rust
target/
Cargo.lock

# IDEs
.vscode/
.idea/

# Misc
*.env
.env.*
